.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.container {
  margin: 15px 0 auto;
}

.row-button {
  display: flex;
  justify-content: center;
  gap: 20px
}
.row-button button {
  color: #1677ff;
  background: #ffffff;
  border-color: #1677ff;
  border: 1px solid #d9d9d9;
  height: 32px;
  padding: 0 15px;
  cursor: pointer;
}
.view {
  margin-top: 20px;
 display: flex;
  justify-content: center;
}
